@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

@import "tailwindcss";



.lora {
  font-family: "Lora", sans-serif;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

.inter {
  font-family: "Inter", sans-serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.libre-baskerville {
  font-family: "Libre Baskerville", serif;
}

body {
  height: 100%;
  width: 100%;
  min-height: 100vh;
}

#cursor {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #000000;
  position: fixed;
}

/* Header navLinks Css */

.navBarActive {
  position: relative;
  color: white;
  text-decoration: none;
  padding-bottom: 8px;
  overflow: hidden;
}

.navBarInActive {
  position: relative;
  color: white;
  text-decoration: none;
  padding-bottom: 8px;
  overflow: hidden;
}

a {
  text-decoration: none;
}
.navBarActive::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 4px;
  background-color: #c75803;
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.navBarInActive::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 4px;
  background-color: #c75803;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.navBarInActive:hover {
  /* color: rgb(254, 131, 0); */
  color: #e67c2bde;
}

/* welcome to teagather grand line css */

.abcd {
  width: 24ch;
  text-wrap: nowrap;
  overflow: hidden;
  animation: typ 2s steps(24) infinite alternate-reverse;
}

@keyframes typ {
  from {
    width: 0ch;
  }
}
